@import url('https://fonts.googleapis.com/css?family=Skranji:400,700');

h1 {
    font-family: 'Skranji', cursive;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-family: 'Skranji', cursive;
    font-weight: 400;
}

body {
    background-color: beige;
    margin: 50px;
}

h1 {
    color: red;
}

div.separador40px {
    height: 40px;
}
h2.espai-a-sota {
    margin-bottom: 50px;
}

img.marc-verd {
    border: 1px solid red;
    padding: 15px;
    background-color: greenyellow;
}

.text-vermell {
    color: red;
}

h4 {color:red !important ; }


i.fa-frog {
    font-size: 100px;
    background-color: green;
    color: white;
    padding: 20px;
}